table_add process_dleft.forward_tab  process_dleft.forward 0x0A00040A => 00:04:00:00:00:04 4
table_add process_dleft.forward_tab  process_dleft.forward 0x0A00010A => 00:04:00:00:00:01 1
table_add process_dleft.forward_tab  process_dleft.forward 0x0A00020A => 00:04:00:00:00:02 2
table_add process_dleft.forward_tab  process_dleft.forward 0x0A00030A => 00:04:00:00:00:03 3
