table_add process_dleft.prefix_tab  process_dleft.lpm_table_match 0x0A00040A/24 => 24 0 0x0A00040A
table_add process_dleft.prefix_tab  process_dleft.lpm_table_match 0x0A00010A/24 => 24 0 0x0A00010A
table_add process_dleft.prefix_tab  process_dleft.lpm_table_match 0x0A00020A/24 => 24 0 0x0A00020A
table_add process_dleft.prefix_tab  process_dleft.lpm_table_match 0x0A00030A/24 => 24 0 0x0A00030A
